<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Music App</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>New Artist</h1>
        <form action="/artists" method="post">
            {% if errors %}
                <p class="errors">
                    Your submission contains errors: 
                    {{ errors | join(', ') }}
                </p>
            {% endif %}
            <p>
                <label for="name">Name</label>
                <input type="text" name="name" id="name">
            </p>
            <p>
                <label for="genre">Genre</label>
                <input type="text" name="genre" id="genre">
            </p>
            <p>
                <input type="submit" value="Create Artist">
            </p>
        </form>
    </body>
</html>